
.HeroSection{
    width: 90%;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.HeroSection_box{
    margin-top: 5rem;
    /* background-color: #1e1e1e; */
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.1); /* Transparent or see-through bg */
    border: 1px inset rgba(0,255,255,0.4);
    /* position: absolute; */
    padding: 1rem;
    border-radius: .5rem;
    width: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.HeroSection_box_heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.HeroSection_box_input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #555252;
    border-radius: 50px;
    padding-left: 2rem;
    margin-top: 2.2rem;
}

.HeroSection_box_input p {
    margin: 0;
}

.HeroSection_box_input input{
    border: 0;
    outline: 0;
    padding: 2px;
    background-color: transparent;
    color: #ffffff;
    font-size: 1.2rem;
    width: 50%;
}

.HeroSection_box_input button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    line-height: 0;
    /* background-color: #4f527a5b; */
    /* background: rgb(78,78,79);
    background: radial-gradient(circle, rgba(78,78,79,1) 9%, rgba(250,5,5,1) 100%); */
    background-image: linear-gradient(144deg,#ff40f2, #6b54ff 50%,#00DDEB);
    padding: 0.5rem;
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: 50px;
    /* margin-left: -1.4rem; */
    position: relative;
}

.HeroSection_box_btn{
   align-items: center;
  background-image: linear-gradient(144deg,#f771f5, #5B42F3 50%,#00DDEB);
  /* background: rgb(238,180,16);
  background: linear-gradient(90deg, rgba(238,180,16,1) 0%, rgba(244,81,81,1) 60%, rgb(55, 50, 50) 100%); */
  /* background: url(https://getwallpapers.com/wallpaper/full/2/a/3/492569.jpg);
    background-size:     auto;                     
    background-repeat:   repeat;
    background-position: center center; */
  border: 1px solid #221e1e;
  border-radius: 2rem;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #111;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  width: 100%;
  margin: 2rem 0;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.HeroSection_box_btn:hover{
    color: #fff;
}

.button-63:active,
.button-63:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-63 {
    font-size: 1.2rem;
    min-width: 196px;
  }
}

@media only screen and (max-width: 35em) {
    .HeroSection{
        width: 95%;
    }
    .HeroSection_box{
        width: 95%;
    }

    .HeroSection_box_input input{
        width: 50%;
    }
}